

.heder_title {
    font-size: 20px;     
}

header {
    justify-content: space-between;
    align-items: center;   
    
}

.logo {
    display: flex;
    padding: 10px calc(50% - 500px);
  
    
}

div.cat__card {
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 5px 0 #878a87;
    border-radius: 10px;
    gap: 10px; 
    
        }

.cat__img {
    height: 150px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    margin: 10px;
    opacity: 0.7;
   
}

div.cat__card:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 0 #5f5f5f;
    transition: 2s; 
       }

div.cat__card:hover>.cat__img {
      transition: 2s;
      opacity: 1;
}

 .cat__rate {
    display: flex;
     justify-content: space-between;
     padding: 0px 15px;
     
  }
  h3 {
      font-size: 25px;
      margin: 0px;
  }
  .cards {
      display: grid;
      grid-template-columns: 300px 300px 300px ;
      grid-template-rows: auto;
      gap: 50px;
     justify-content: center;
     box-shadow: 0 0 5px 0 #878a87;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 50px;
    padding-bottom: 50px;
               }
.footer__ {
    height: 50px;
    align-items: center;
    padding-left: 350px;
    font-size: 20px;
}

.popup__body {
    width: 45%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 0 50px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 10px;
    max-width: 1000px;
    position: relative;
}


.popup__close { 
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("img/close.jpg") no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center 0;
    height: 50px;
    width: 50px;
}
   
p {
    font-size: 20px;
}
#popup { 
    display: none; 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 10; 
    width: 100%; 
    height: 100%;  
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);   
} 
.popap__place {
     display: flex;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
}

.popup__content-left{
    background-position: center;
    background-size: cover;
}
